<div class="w-full">
  <div class="m-10 border-2 border-pink-500">
    <div class="pt-10 pb-6 pl-20 pr-20">
      <form [formGroup]="secondForm">
        <div class="grid grid-cols-2 space-x-10">
          <div class="flex items-center space-x-7">
            <label class="block w-1/4">Salary</label>
            <mat-form-field class="border-2 rounded-md p-3 w-full">
              <input type="number" matInput formControlName="salary">
              <mat-error class="text-red-500 mt-4">Salary is required..!</mat-error>
            </mat-form-field>
          </div>
          <div class="flex items-center space-x-7">
            <label class="block w-1/4">Designation</label>
            <mat-form-field class="border-2 rounded-md p-3 w-full">
              <input matInput formControlName="designation">
              <mat-error class="text-red-500 mt-4">Designation is required..!</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="grid grid-cols-2 space-x-10 mt-8">
          <div class="flex items-center space-x-7">
          </div>
          <div class="flex items-center space-x-7">
            <label class="block w-1/4">Phone</label>
            <mat-form-field class="border-2 rounded-md p-3 w-full">
              <input type="number" matInput formControlName="phone">
              <mat-error class="text-red-500 mt-4">Phone is required..!</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="flex justify-end">
          <button *ngIf="!isNew" [disabled]="secondForm.invalid" (click)="clickUpdate()" class="px-6 py-2 mt-4 text-white bg-blue-600 rounded-lg hover:bg-blue-900">Submit</button>
          <button *ngIf="isNew" [disabled]="secondForm.invalid" (click)="clickAdd()" class="px-6 py-2 mt-4 text-white bg-blue-600 rounded-lg hover:bg-blue-900">Add New</button>
        </div>
      </form>
    </div>
  </div>
</div>

